[Unit]
Description=Disable BD PROCHOT at boot
Before=basic.target
After=local-fs.target sysinit.target
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/local/bin/bd-prochot-off.sh

[Install]
WantedBy=basic.target
